<p>
  {{encabezado.title}}
</p>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let enfermedad of enfermedades">
      <ion-card>
        <img src="{{enfermedad.imagen}}" />
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>{{enfermedad.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{enfermedad.description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
    

